body {
  margin: 0;
  background: black;
  color: white;
  font-family: Arial, sans-serif;
  text-align: center;
  overflow: hidden;
}

.hidden {
  display: none;
}

#countdown {
  font-size: 80px;
  position: absolute;
  top: 40%;
  width: 100%;
}

#message, #photos, #final {
  position: absolute;
  width: 100%;
  top: 30%;
}

button {
  padding: 15px 30px;
  font-size: 18px;
  background: hotpink;
  border: none;
  border-radius: 10px;
  color: white;
  cursor: pointer;
}

#photos img {
  width: 70%;
  border-radius: 20px;
}

video {
  width: 100%;
  height: 100%;
}
